.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.visited-flags-containar{
    width: 120px;
    margin-right: 20px;
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}